@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer components {
  :root {
    --pointer-x: 50%;
    --pointer-y: 50%;
    --rotate-x: 0deg;
    --rotate-y: 0deg;
  }

  @keyframes glow-bg {
    0% {
      --bgrotate: 0deg;
    }
    100% {
      --bgrotate: 360deg;
    }
  }
}
.section-y {
  @apply py-20;
}
.container-px {
  @apply max-w-6xl mx-auto px-4;
}

